services:
  agent_saludo:
    build: .
    restart: always
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8300:8000"

    networks:
    - cluster

networks:
  cluster:
    external: true
